# Pyspark Dataframes

Filter Operation
&,|,==
~

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [3]:
spark

In [6]:
df_pyspark = spark.read.csv('Test3.csv', header = True, inferSchema = True)

In [7]:
df_pyspark.show()

+--------+---+-----------+-------+
|    Name|Age|Experience | Salary|
+--------+---+-----------+-------+
|  Gaurav| 20|         10| 900000|
|  Roopam| 30|         21|1000000|
| Dhairya| 10|          9|  20000|
|Abhilash| 30|         10|  20000|
|  Naveen| 10|          9|  10000|
|  Naresh| 30|         12|  30000|
+--------+---+-----------+-------+

# Filter Operation

In [8]:
###Salary of people less than or equal to 20000

In [9]:
df_pyspark.filter("Salary<=20000").show()

+--------+---+-----------+------+
|    Name|Age|Experience |Salary|
+--------+---+-----------+------+
| Dhairya| 10|          9| 20000|
|Abhilash| 30|         10| 20000|
|  Naveen| 10|          9| 10000|
+--------+---+-----------+------+

In [11]:
df_pyspark.filter("Salary<=20000").select(['Name','Age']).show()

+--------+---+
|    Name|Age|
+--------+---+
| Dhairya| 10|
|Abhilash| 30|
|  Naveen| 10|
+--------+---+

In [13]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+--------+---+-----------+------+
|    Name|Age|Experience |Salary|
+--------+---+-----------+------+
| Dhairya| 10|          9| 20000|
|Abhilash| 30|         10| 20000|
|  Naveen| 10|          9| 10000|
+--------+---+-----------+------+

In [ ]:
###Put 2 different conditions

In [20]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | (df_pyspark['Salary']>=50000)).show()

+--------+---+-----------+-------+
|    Name|Age|Experience | Salary|
+--------+---+-----------+-------+
|  Gaurav| 20|         10| 900000|
|  Roopam| 30|         21|1000000|
| Dhairya| 10|          9|  20000|
|Abhilash| 30|         10|  20000|
|  Naveen| 10|          9|  10000|
+--------+---+-----------+-------+

In [21]:
##Inverse filter operation

In [22]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+------+---+-----------+-------+
|  Name|Age|Experience | Salary|
+------+---+-----------+-------+
|Gaurav| 20|         10| 900000|
|Roopam| 30|         21|1000000|
|Naresh| 30|         12|  30000|
+------+---+-----------+-------+