In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [3]:
spark

In [4]:
df_pyspark = spark.read.csv('Test4.csv', header = True, inferSchema = True)
df_pyspark.show()

+----+-------------+------+
|Name|   Department|Salary|
+----+-------------+------+
|   A|          IOT| 10000|
|   B|Data Science |  2000|
|   A|Data Science | 10009|
|   C|           AI| 20000|
|   D|Data Science | 10000|
|  B |           AI| 10000|
|  A |           ML|  1000|
|   D|           ML|  9000|
|   E|           DL|  3000|
+----+-------------+------+

In [5]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [14]:
##GroupBy
##Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+----+-----------+
|Name|sum(Salary)|
+----+-----------+
|   E|       3000|
|   B|       2000|
|   D|      19000|
|   C|      20000|
|   A|      20009|
|  A |       1000|
|  B |      10000|
+----+-----------+

In [15]:
##Groupby department

In [16]:
df_pyspark.groupBy('Department').sum().show()

+-------------+-----------+
|   Department|sum(Salary)|
+-------------+-----------+
|          IOT|      10000|
|           DL|       3000|
|           AI|      30000|
|           ML|      10000|
|Data Science |      22009|
+-------------+-----------+

In [17]:
df_pyspark.groupBy('Name').mean().show()

+----+-----------+
|Name|avg(Salary)|
+----+-----------+
|   E|     3000.0|
|   B|     2000.0|
|   D|     9500.0|
|   C|    20000.0|
|   A|    10004.5|
|  A |     1000.0|
|  B |    10000.0|
+----+-----------+

In [18]:
df_pyspark.groupBy('Department').mean().show()

+-------------+-----------------+
|   Department|      avg(Salary)|
+-------------+-----------------+
|          IOT|          10000.0|
|           DL|           3000.0|
|           AI|          15000.0|
|           ML|           5000.0|
|Data Science |7336.333333333333|
+-------------+-----------------+

In [19]:
df_pyspark.groupBy('Department').count().show()

+-------------+-----+
|   Department|count|
+-------------+-----+
|          IOT|    1|
|           DL|    1|
|           AI|    2|
|           ML|    2|
|Data Science |    3|
+-------------+-----+

In [20]:
###To get the sumof salary
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      75009|
+-----------+

In [23]:
df_pyspark.groupBy('Name').min().show()

+----+-----------+
|Name|min(Salary)|
+----+-----------+
|   E|       3000|
|   B|       2000|
|   D|       9000|
|   C|      20000|
|   A|      10000|
|  A |       1000|
|  B |      10000|
+----+-----------+