Tutorial for Pyspark
    1 : PySpark Dataframe
    2 : Reading The Dataset
    3 : Checking the Datatypes of the Column(Schema)
    4 : Selecting Columns And Indexing
    5 : Check Describe option similar to Pandas
    6 : Adding Columns
    7 : Dropping columns
    8 : Renaming Columns

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [4]:
spark

In [10]:
##Read the dataset
df_pyspark = spark.read.option('header', 'true').csv('Test1.csv',inferSchema = True)

In [11]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [12]:
df_pyspark = spark.read.csv('Test1.csv', header = True, inferSchema = True)

In [13]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
##Get all the column names
df_pyspark.columns

['Name', 'Age', 'Experience']

In [17]:
df_pyspark.head(3)   ###Get in List format

[Row(Name='Gaurav', Age=26, Experience=10),
 Row(Name='Roopam', Age=29, Experience=9),
 Row(Name='Nareshs', Age=59, Experience=11)]

In [18]:
##Pick up a column
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
| Gaurav| 26|        10|
| Roopam| 29|         9|
|Nareshs| 59|        11|
+-------+---+----------+

In [20]:
##Select only 1 column using select command
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
| Gaurav|
| Roopam|
|Nareshs|
+-------+

In [22]:
df_pyspark.select(['Name','Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
| Gaurav|        10|
| Roopam|         9|
|Nareshs|        11|
+-------+----------+

In [23]:
df_pyspark['Name']

Column<'Name'>

In [24]:
##Check the data types of different columns
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [28]:
df_pyspark.describe().show()

+-------+------+-----------------+----------+
|summary|  Name|              Age|Experience|
+-------+------+-----------------+----------+
|  count|     3|                3|         3|
|   mean|  null|             38.0|      10.0|
| stddev|  null|18.24828759089466|       1.0|
|    min|Gaurav|               26|         9|
|    max|Roopam|               59|        11|
+-------+------+-----------------+----------+

In [29]:
##Adding Columns in Data Frame

In [32]:
df_pyspark = df_pyspark.withColumn('Experience after 2 years', df_pyspark['Experience']+2)

In [33]:
df_pyspark.show()

+-------+---+----------+------------------------+
|   Name|Age|Experience|Experience after 2 years|
+-------+---+----------+------------------------+
| Gaurav| 26|        10|                      12|
| Roopam| 29|         9|                      11|
|Nareshs| 59|        11|                      13|
+-------+---+----------+------------------------+

In [34]:
##Dropping A column

In [36]:
df_pyspark = df_pyspark.drop('Experience after 2 years')

In [37]:
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
| Gaurav| 26|        10|
| Roopam| 29|         9|
|Nareshs| 59|        11|
+-------+---+----------+

In [38]:
##Rename the column

In [39]:
df_pyspark = df_pyspark.withColumnRenamed('Name', 'NewName')

In [40]:
df_pyspark.show()

+-------+---+----------+
|NewName|Age|Experience|
+-------+---+----------+
| Gaurav| 26|        10|
| Roopam| 29|         9|
|Nareshs| 59|        11|
+-------+---+----------+