# Pyspark Handling Missing Values

Dropping Columns
Dropping Rows
Various Parameter In Dropping functionalities
Handling Missing values by Mean, Median And Mode

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [4]:
df_pyspark = spark.read.csv('Test2.csv', header = True, inferSchema = True)

In [5]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Gaurav|  20|        10| 30000|
|Roopam|  32|        10| 90000|
|Naresh|  45|        10| 21000|
| Anuja|  34|        10|  null|
|    TP|  34|        23| 20000|
| Sampy|  23|        21|100000|
|  null|null|      null|900000|
|Xavier|  20|         9| 80000|
+------+----+----------+------+

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [7]:
##Drop the columns
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  20|        10| 30000|
|  32|        10| 90000|
|  45|        10| 21000|
|  34|        10|  null|
|  34|        23| 20000|
|  23|        21|100000|
|null|      null|900000|
|  20|         9| 80000|
+----+----------+------+

In [8]:
## Dropping the rows with even a single null value
df_pyspark.na.drop().show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Gaurav| 20|        10| 30000|
|Roopam| 32|        10| 90000|
|Naresh| 45|        10| 21000|
|    TP| 34|        23| 20000|
| Sampy| 23|        21|100000|
|Xavier| 20|         9| 80000|
+------+---+----------+------+

In [9]:
df_pyspark.na.drop(how = 'any').show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Gaurav| 20|        10| 30000|
|Roopam| 32|        10| 90000|
|Naresh| 45|        10| 21000|
|    TP| 34|        23| 20000|
| Sampy| 23|        21|100000|
|Xavier| 20|         9| 80000|
+------+---+----------+------+

In [10]:
##Threshold

In [11]:
df_pyspark.na.drop(how = 'any', thresh = 2).show()  ##Atleast 2 non-null values are there

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Gaurav| 20|        10| 30000|
|Roopam| 32|        10| 90000|
|Naresh| 45|        10| 21000|
| Anuja| 34|        10|  null|
|    TP| 34|        23| 20000|
| Sampy| 23|        21|100000|
|Xavier| 20|         9| 80000|
+------+---+----------+------+

In [12]:
##Subset

In [13]:
df_pyspark.na.drop(how = 'any', subset = ['Experience']).show()###Any null value in Experience will be dropped

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Gaurav| 20|        10| 30000|
|Roopam| 32|        10| 90000|
|Naresh| 45|        10| 21000|
| Anuja| 34|        10|  null|
|    TP| 34|        23| 20000|
| Sampy| 23|        21|100000|
|Xavier| 20|         9| 80000|
+------+---+----------+------+

In [14]:
##Filling the missing values

In [17]:
df_pyspark.na.fill('Missing Value').show()

+-------------+----+----------+------+
|         Name| Age|Experience|Salary|
+-------------+----+----------+------+
|       Gaurav|  20|        10| 30000|
|       Roopam|  32|        10| 90000|
|       Naresh|  45|        10| 21000|
|        Anuja|  34|        10|  null|
|           TP|  34|        23| 20000|
|        Sampy|  23|        21|100000|
|Missing Value|null|      null|900000|
|       Xavier|  20|         9| 80000|
+-------------+----+----------+------+

In [22]:
df_pyspark.na.fill('Missing Value','Experience').show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Gaurav|  20|        10| 30000|
|Roopam|  32|        10| 90000|
|Naresh|  45|        10| 21000|
| Anuja|  34|        10|  null|
|    TP|  34|        23| 20000|
| Sampy|  23|        21|100000|
|  null|null|      null|900000|
|Xavier|  20|         9| 80000|
+------+----+----------+------+

In [23]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Gaurav|  20|        10| 30000|
|Roopam|  32|        10| 90000|
|Naresh|  45|        10| 21000|
| Anuja|  34|        10|  null|
|    TP|  34|        23| 20000|
| Sampy|  23|        21|100000|
|  null|null|      null|900000|
|Xavier|  20|         9| 80000|
+------+----+----------+------+

In [28]:
##Adding Values using Imputer function

In [24]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [26]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Gaurav|  20|        10| 30000|
|Roopam|  32|        10| 90000|
|Naresh|  45|        10| 21000|
| Anuja|  34|        10|  null|
|    TP|  34|        23| 20000|
| Sampy|  23|        21|100000|
|  null|null|      null|900000|
|Xavier|  20|         9| 80000|
+------+----+----------+------+

In [27]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
|Gaurav|  20|        10| 30000|         20|                10|         30000|
|Roopam|  32|        10| 90000|         32|                10|         90000|
|Naresh|  45|        10| 21000|         45|                10|         21000|
| Anuja|  34|        10|  null|         34|                10|         80000|
|    TP|  34|        23| 20000|         34|                23|         20000|
| Sampy|  23|        21|100000|         23|                21|        100000|
|  null|null|      null|900000|         32|                10|        900000|
|Xavier|  20|         9| 80000|         20|                 9|         80000|
+------+----+----------+------+-----------+------------------+--------------+